// Variables
$primary-color: #00629B;
$secondary-color: #FFBF5F;
$tertiary-color: #1A1A1A;
$grey-color: #d4d4d4;
$white-color: #FFFFFF;
$black-color: #000000;
$lighten-color: 10;
$darken-color: 10;
$error-color: rgb(201, 0, 0);

// Map
$colors: (
    primary: (
        base: $primary-color,
        light: lighten($primary-color, $lighten-color),
        dark: darken($primary-color, $darken-color),
    ),
    secondary: (
        base: $secondary-color,
        light: lighten($secondary-color, $lighten-color),
        dark: darken($secondary-color, $darken-color),
    ),
    tertiary: (
        base: $tertiary-color,
        light: lighten($tertiary-color, $lighten-color),
        dark: darken($tertiary-color, $darken-color),
    ),
    grey: (
        base: $grey-color,
        light: lighten($grey-color, $lighten-color),
        dark: darken($grey-color, $darken-color),
    ),
    error: (
        base: $error-color,
        light: lighten($grey-color, $lighten-color),
        dark: darken($grey-color, $darken-color),
    )
    
);

// Function:
@function colors($base, $shade: base) {
    $color: map-get(
        map-get($colors, $base), 
        $shade
    );

    @return $color;
}
