// Colors
$color-primary: #00629B;
$color-primary-light: #188CD9;
$color-primary-dark:  #164582;
$color-secondary: #FFBF5F;
$color-tertiary: #1A1A1A;
$color-grey: #d4d4d4;
$color-grey-dark: #696969;
$color-white: #FFFFFF;
$color-black: #000000;
$color-error: #C90000;

$color-github:#6f42c1;
$color-linkedin: #0e76a8;

$color-lighten: 10;
$color-darken: 10;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font Sizes
$default-fontsize: 1.6rem;

// Fonts
$font-body: montserrat, sans-serif;
$font-heading: fieldwork-hum, sans-serif;
$font-elegant: dolce, sans-serif;

// Media Query Breakpoints (min-width)
$breakpoint-tablet-portrait: 37.5em;       //    600 px
$breakpoint-tablet-landscape:  56.25em;    //    900 px
$breakpoint-laptop: 81.25em;               //   1300 px
$breakpoint-laptop-large:  87.5em;         //   1400 px
$breakpoint-desktop: 100em;                //   1600 px
$breakpoint-desktop-large: 150em;          //   2400 px
$breakpoint-widescreen: 200em;             //   3200 px

// Add Box shadow properties