.header{
    margin: 5rem 0 2rem 0;
}

.headline {
    text-align: left; 
    font-weight: 700;

    &--primary {
        font-size: clamp(3rem, 5vw, 7rem);
    }

    &--secondary {
        font-size: clamp(2rem, 3vw, 3rem);
        margin-bottom: .5rem;
    }    
}