.header{


    &--bg{
        background: rgba(49, 49, 49, 0.5);
        margin-bottom: 50px;
    }

    &__headline{
        text-align: center;
        font-weight: 700;
        font-size: clamp(30px, 5vw, 70px);
        padding: 30px 0 50px 0;

        &--bg{
            padding: 30px 20px;
        }
    }

    &__subline{
        text-align: left;
        font-weight: 700;
        padding-bottom: 5px;
    }
}