.header{
    margin: 3rem 0 2rem 0;

    @include respond(lap-lg) {
        margin-top: 11rem;
    }
}

.headline {
    text-align: left; 
    font-weight: 700;

    &--primary {
        font-size: clamp(3rem, 5vw, 7rem);
    }

    &--secondary {
        font-size: clamp(2rem, 3vw, 3rem);
        margin-bottom: .5rem;
    }    
}