.nav{
    z-index: 999;
    position: relative;
    height: 10vh;

    @media (min-width: 992px) {
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-areas: 
            'brand menu'
            'brand decor';
        padding: 0 12px;
    }

    @media (min-width: 1400px) {
        max-width: 1320px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-areas: 
            'brand menu'
            'brand decor';
        padding: 0 12px;
    }

    &--landingpage{
        @media (min-width: 992px) {
            max-width: 960px;
            padding-left: 400px;
            margin-right: 150px;
            margin-left: auto;
        }

        @media (min-width: 1921px) {
            max-width: 1320px;
            padding-left: 400px;
            margin-right: 150px;
            margin-left: auto;
        }


    }

    // Brand & Logo
    &__brand{
        grid-area: brand;
        position: relative;
        color: colors(primary);
        text-transform: uppercase;
        font-family: fieldwork-hum, sans-serif;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        font-size: clamp(30px, 5vw, 100px); 

        &:hover, &:active{
            color: colors(primary);
        } 

        &--landingpage{
            z-index: 777;
            font-size: clamp(50px, 14vw, 250px); 
            color: white;
            position: absolute;
            top: 0px;
            left: 0px;

            @media (min-width: 1921px) {
                font-size: 300px;
            }

            & a {
                color: white;

                &:hover{
                    color: colors(secondary);
                }
            }
        }
        
        &__first-name{
            position: relative;
            line-height: clamp(30px, 5vw, 100px);
            
            &--landingpage{
                z-index: 777;
                color: #FFF;
                position: absolute;
                line-height: clamp(50px, 14vw, 250px);
                padding: 12px;
                top: 0;
                left: 0;
            }
            
        }

        &__last-name{
            line-height: clamp(30px, 5vw, 100px);
            margin-left: 20px;
            background: -webkit-linear-gradient( colors(primary), white);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 777;

            @media (min-width:1400px) {
                margin-left: 50px;
            }

            &:hover{
                background: -webkit-linear-gradient( colors(primary), white);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &--landingpage{
                padding: 12px;
                z-index: 777;
                position: absolute;
                top: 100px;
                left: 60px;
                line-height: clamp(50px, 14vw, 250px);
                top: 200px;
                background: -webkit-linear-gradient(#FFF, transparent);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                @media (max-width: 576px) {
                    top: clamp(55px, 15vw, 90px);
                    left: 8px;
                }

                @media (min-width: 577px) and (max-width: 991px) {
                    top: 120px;
                    left: 30px;
                }

                @media (min-width: 992px) and (max-width: 1200px) {
                    top: 140px;
                    left: 30px;
                }

                @media (min-width: 1921px) {
                    top: 300px;
                    left: 100px;
                }

                &:hover{
                    background: -webkit-linear-gradient(transparent colors(secondary));
                }

                
            }
        }
    }

    // Menu
    &__menu{
        text-transform: uppercase;
        grid-area: menu;
        height: 10vh;

        @media (max-width: 991px){
            width: 75vw;
            height: 100vh;
            position: absolute;
            top: 0;
            right: -75vw;
            background:rgba(0, 0, 0, 0.8);
            transition: .2s linear;
            backdrop-filter: blur(8px);
        }



        &__list{
            display: flex;
            justify-content: flex-end;
            color: white;
            list-style: none;
            line-height: 10vh;

            @media (max-width: 991px){
                margin-top: 60px;
                flex-direction: column;
                line-height: 10vh;
            }

            
            @media (min-width: 992px) {
                flex-direction: row;
                justify-content: flex-end;
                text-align: right;
            }

            & li{
                width: 100%;
                text-align: center;
            }

            &__link{
                color: colors(tertiary);
                text-align: center;
                font-weight: 600;
                text-decoration: none;

                @media (max-width: 991px){
                    padding:0 20px;
                    width: 100%;
                    color: white;
                }

                &:hover{
                    color: colors(secondary);
                }

                &:active{
                    color: colors(secondary);
                    outline: 1px solid rgba(0, 0, 0, 0.5);
                }

                &--active{
                    color: colors(secondary);
                }

                &--landingpage{
                    color: white;

                    &:hover{
                        color: colors(secondary);
                    }
                }
            }
        }

        
    }

    // Decoration
    &__decor{
        grid-area: decor;
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 1;

        @media (max-width: 991px) { 
            display: none;
        }

        

        & div{
            width: 500px;
            height: 150px;
            position: absolute;
            top: 0;
            right: -30px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            border-right: 1px solid rgba(255, 255, 255, 0.5);

            
        }

        &--light div{
            @media (min-width: 1921px) {
                width: 1200px;
                height: 500px;
            }
        }

        &--dark div{
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.2);

            @media (min-width: 992px) {
                top: -10px;
                right: -10px;
            }

            @media (min-width: 1980px) {
                top: -40px;
                right: -40px;
            }
        }
    }

}


@media (max-width: 991px) {
    .open-menu{
        right: 0px;
    }

    .fixed{
        position: fixed;
    }
}   