.nav{
    z-index: 999;
    position: relative;
    height: unset;

    @include respond(tab-land) {
        max-width: $grid-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 1.2rem;
        height: unset;
    }

    @include respond(lap-lg) {
        max-width: 132rem;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 1.2rem;
    }

    &--landingpage{
        @include respond(tab-land) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr; 
            max-width: 50rem;
            margin-left: auto;
            margin-right: 2rem;
            line-height: 10vh;
        }

        @include respond(desk) {
            max-width: 55rem;
            margin-right: 15rem;
            margin-left: auto;
        }
    }

    // Menu
    &__menu{
        text-transform: uppercase;

        // Mobile 
        width: 75vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -75vw;
        background: rgba($color-black, 0.8);
        transition: .5s ease-out;
        backdrop-filter: blur(8px);

        @include respond(tab-land){
            width: 100%;
            height: unset;
            position: relative;
            top: unset;
            right: unset;
            background: unset;
            backdrop-filter: blur(0);
            align-self: center;
        }

        &__list{
            display: flex;
            justify-content: flex-end;
            color: $color-white;
            list-style: none;
        
            // Mobile
            margin-top: 6rem;
            flex-direction: column;
            line-height: 10vh;
            
            @include respond(tab-land) {
                flex-direction: row;
                justify-content: flex-end;
                //text-align: center;
                margin: 0;
                padding: 0;
                height: unset;
                line-height: unset;
            }

            & li{
                width: 100%;
                text-align: center;
            }

            &__link{
                color: $color-white;
                text-align: center;
                font-weight: 600;
                text-decoration: none;
                transition: .2s all;

                @include respond(tab-land){
                    padding: 0 2rem;
                    width: 100%;
                    color: colors(tertiary);
                    
                }

                &:hover{
                    color: colors(secondary);
                }

                &:active{
                    color: colors(secondary);
                    outline: 1px solid rgba($color-black, 0.5);
                }

                &--active{
                    color: colors(secondary);
                }

                &--landingpage{
                    color: $color-white;

                    &:hover{
                        color: colors(secondary);
                    }
                }
            }
        }
    } 

    // Decoration
    &__decor{
        position: relative;
        padding: 0;
        margin: 0;
        z-index: 1;
        display: none;

        @include respond(tab-land) { 
            display: unset;
        }

        & div{
            position: absolute;
            top: 0;
            right: 0;
            width: 50rem;
            height: 15rem;
        }

        &--landingpage div {
            @include respond(desk) {
                width: 60rem;
            }
        }

        &--light div{
            border-top: 1px solid rgba($color-white, 0.5);
            border-right: 1px solid rgba($color-white, 0.5);
        }

        &--dark div{
            border-top: 1px solid rgba($color-black, 0.2);
            border-right: 1px solid rgba($color-black, 0.2);
        }
    }
}


.open-menu{
    right: 0;
    position: fixed;
}

.fixed{
    position: fixed;
} 