.breadcrumb{
    display: inline-block;
    padding: 0 .2rem;
    transition: border .2s;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);

    @include respond(tab-land) {
        margin-top: clamp(4rem, 8vw, 10rem)
    }

    & i{
        margin-right: .5rem;
    }

    &:link,
    &:visited {
        color: colors(primary, light);
        text-decoration: none;
        border-bottom: 1px solid colors(primary, light);
    }

    &:hover,
    &:focus {
        border-bottom: 1px solid transparent;
    }
}