.breadcrumb{
    margin-top: 20px;

    & a{
        color: colors(tertiary);
        text-decoration: underline;
        color: colors(primary);

        & i{
            margin: 0 5px;
        }

        &:hover{
            text-decoration: none;
        }
    }
}