.btn{
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-fontsize;
        font-weight: 600;
        display: inline-block;
        border-radius: 0;
        border: 0;
        outline: 0;        
        position: relative;
        transition: all .2s;

        & i{
            margin-left: .5rem;
        }
    }

    &:hover {
        transform: translateY(-0.5rem) scale(1.02);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active{
        transform: translateY(0.5rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    // Color Modifier:
    &--primary{
        background: colors(primary);
        color: $color-white;

        &:hover{
            background: colors(primary, light);
            color: $color-white;
        }
    }

    &--secondary{
        background: colors(secondary);
        color: $color-black;

        &:hover{
            background: colors(secondary, dark);
            color: $color-black;
        }
    }

    &--tertiary{
        background: colors(tertiary);
        color: $color-white;

        &:hover{
            background: colors(tertiary, dark);
            color: $color-white;
        }
    }

    &--github{
        background: $color-github;
        color: $color-white;

        &:hover{
            background: darken($color-github, 20);
            color: $color-white;
        }
    }

    &--linkedin{
        background: $color-linkedin;
        color: $color-white;

        &:hover{
            background: darken($color-linkedin, 10);
            color: $color-white;
        }
    }

    // Size Modifier:
    &--cta:link,
    &--cta:visited {
        padding: 1.2rem .3rem;
        font-size: clamp(1.1rem, 1.5vw, 2rem);
    }

    &--lg{
        padding: 1rem 3.5rem;
        margin: 0;
        font-size: 2rem;
    }

    &--md:link,
    &--md:visited{
        padding: 1rem 3.5rem;
        font-size: clamp(1rem, 1.5vw, 1.6rem);
    }

    &--sm{
        margin: 0;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;

        padding: .8rem .5rem;
        font-size: 1rem;

        @include respond(tab-land) {
            padding: .8rem .6rem;
            font-size: 1.1rem;
        }

        @include respond(lap) {
            padding: 1rem 1.5rem;
            font-size: 1.6rem;
        }
    }
}