.btn{
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: $default-fontsize;
        font-weight: 600;
        display: inline-block;
        border-radius: 0;
        border: 0;
        outline: 0;        
        position: relative;
        transition: all .2s;

        & i{
            margin-left: 5px;
        }
    }

    &:hover {
        transform: translateY(-0.5rem) scale(1.02);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active{
        transform: translateY(0.5rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
    }

    // Color Modifier:
    &--primary{
        background: colors(primary);
        color: $color-white;

        &:hover{
            background: colors(primary, light);
            color: $color-white;
        }
    }

    &--secondary{
        background: colors(secondary);
        color: $color-black;

        &:hover{
            background: colors(secondary, dark);
            color: $color-black;
        }
    }

    &--tertiary{
        background: colors(tertiary);
        color: $color-white;

        &:hover{
            background: colors(tertiary, dark);
            color: $color-white;
        }
    }

    &--github{
        background: $color-github;
        color: $color-white;

        &:hover{
            background: darken($color-github, 20);
            color: $color-white;
        }
    }

    &--linkedin{
        background: $color-linkedin;
        color: $color-white;

        &:hover{
            background: darken($color-linkedin, 10);
            color: $color-white;
        }
    }

    // Size Modifier:
    &--cta:link,
    &--cta:visited {
        padding: 12px 3px;
        font-size: clamp(11px, 1.5vw, 20px);
    }

    &--lg{
        padding: 10px 35px;
        margin: 0;
        font-size: 20px;
    }

    &--md:link,
    &--md:visited{
        padding: 10px 35px;
        font-size: clamp(10px, 1.5vw, 16px);
    }

    &--sm{
        margin: 0;
        padding: 10px 15px;
        font-size: 16px;

        padding: 8px 5px;
        font-size: 10px;

        @include respond(tab-land) {
            padding: 8px 6px;
            font-size: 11px;
        }

        @include respond(lap) {
            padding: 10px 15px;
            font-size: 16px;
        }
    }
}