.nav__menu__hamburger-icon {
    width: 4.5rem;
    padding: 0;
    z-index: 9999999999;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    z-index: 999;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    height: 4.5rem;

    @include respond(tab-land) {
        display: none;
    }

    &:hover{
        cursor: pointer;
    }

    & span{
        display: block;
        position: absolute;
        height: .4rem;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 1.5rem;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        

        &:nth-child(1){
            top: .5rem;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 2rem;
        }

        &:nth-child(4) {
            top: 3.5rem;
        }
    }

    &--white span{
        background: white;
    }

    &.open span:nth-child(1) {
        background: white;
        top: 1.8rem;
        width: 0%;
        left: 50%;
    }

    &.open span {
        &:nth-child(2) {
            background: white;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            background: white;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        &:nth-child(4) {
            background: white;
            top: 1.8rem;
            width: 0%;
            left: 50%;
        }
    }
}
