.hero{
    z-index: 888;
    height: 90vh;
    color: $color-white;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    backface-visibility: hidden;

    &__box{
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;

        & .container{
            height: 90vh;
        }
    }

    &__img{
        padding: 0;
        margin: 0;
        background-image: url("../graphics/hero8.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 888;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        height: 80vh;
        width: 100%;

        // Mobile
        background-position: 100% 0%;
        width: 100vw;
        

        @include respond(tab-port) {
            background-position: 50% 0%;
            width: 77vw;
        }

        @include respond(tab-land) {
            background-position: 50% 0%;
            width: 35vw;
        }

        @include respond(desk) {
            background-position: 50% 0%;
            width: 28vw;
        }
    }

    &__container{
        position: absolute;
        left: 50%;
        top: 80%;
        width: clamp(25rem, 90vw, 70rem);
        z-index: 999;
        transform: translate(-50%, -50%);
        
        @include respond(tab-port) {
            width: 55rem;
            left: 50%;
            top: 70%;
        }

        @include respond(tab-land) {
            width: 65rem;
            left: 40%;
            top: 70%;
        }

        @include respond(lap) {
            width: 70rem;
            left: 40%;
            top: 70%;
        }

        @include respond(lap-lg) {
            left: 40%;
            top: 70%;
        }

        @include respond(desk) {
            width: 75rem;
            left: 35%;
            top: 70%;
        }

        @include respond(desk-lg) {
            width: 85rem;
            left: 35%;
            top: 70%;
        }
    }

    &__content{
        background-image: linear-gradient( 
            140deg, 
            rgba(colors(primary, light), .6),  
            rgba(colors(primary, dark), .7), 
            rgba(colors(tertiary, dark), .8));
        border-radius: .5rem;
        padding: clamp(1rem, 2vw, 2.5rem);
        backface-visibility: hidden;
        
        &--animated{
            animation: moveInBottom .8s ease-out ;
            animation-fill-mode: backwards;
        }

        &__headline{
            text-transform: uppercase;
            font-size: clamp(2.2rem, 4vw, 4rem);
            font-weight: 700;

            @include respond(desk) {
                font-size: 6rem;
            }

            &--style{
                font-weight: 800;
                color: colors(secondary);
            }
        }

        &__profession-tag{
            color: rgba(255, 255, 255, 0.575);
            display: flex;
            font-size: clamp(1rem, 1vw, 1.6rem); 
            margin-bottom: 1.5rem;
        }

        &__text{
            font-size: clamp(1.4rem, 2vw, 2rem);
            margin-bottom: clamp(1.5rem, 2vh, 3rem);
            line-height: clamp(2rem, 2vh, 2.5rem);

            @include respond(desk) {
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
        }

        &__cta{
            @include space-between;
            margin-bottom: clamp(1.5rem 3vh, 3rem);
            
            & a {
                width: calc((100% - 2rem) / 2);
            }
            
            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}