.hero{
    z-index: 888;
    height: 90vh;
    color: #FFF;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;

    &__container{
        top: 0;
        position: absolute;
        height: 100%;
        width: 100%;

        & .container{
            height: 90vh;
        }
    }

    &__img{
        padding: 0;
        margin: 0;
        background-image: url("../graphics/hero8.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 888;
        position: absolute;
        top: 100%;
        left: 100%;
        transform: translate(-100%, -100%);
        height: 80vh;
        width: 100%;

        @media (max-width: 576px) {
            background-position: 100% 0%;
            width: 100%;
        }
        
        @media (min-width: 577px) and (max-width: 991px) {
            background-position: 50% 0%;
            width: 77vw;
        }

        @media (min-width: 992px) and (max-width: 1920px) {
            background-position: 50% 0%;
            width: 35vw;
        }

        @media (min-width: 1921px) {
            background-position: 50% 0%;
            width: 28vw;
        }


    }



    &__content{
        z-index: 999;
        width: clamp(250px, 90vw, 700px);
        position: absolute;
        left: 20%;
        top: 70%;
        transform: translate(-20%, -70%);
        background-image: linear-gradient( 140deg,   rgba(1, 62, 97, 0.9),  rgba(1, 62, 97, 0.8), rgba(26, 26, 26, 0.9));
        padding: clamp(10px, 2vw, 25px);

        @media (max-width: 576px){
            left: 50%;
            top: 90%;
            transform: translate(-50%, -90%);
            background-image: linear-gradient( 140deg,   rgba(1, 62, 97, 0.9),  rgba(1, 62, 97, 0.8), rgba(26, 26, 26, 0.9));
        }

        @media (min-width: 577px) and (max-width: 768px){
            width: 550px;
            left: 20%;
            top: 85%;
            transform: translate(-20%, -85%);
        }

        @media (min-width: 992px) and (max-width: 1200px) {
            width: 650px;
            left: 20%;
            top: 85%;
            transform: translate(-20%, -85%);
        }

        @media (min-width: 1201px) and (max-width: 1400px) {
            width: 700px;
            left: 25%;
            top: 85%;
            transform: translate(-25%, -85%);
        }

        @media (min-width: 1401px) and (max-width: 1920px) {
            width: 700px;
            left: 40%;
            top: 85%;
            transform: translate(-40%, -85%);
        }

        @media (min-width: 1920px) {
            width: 700px;
            left: 30%;
            top: 85%;
            transform: translate(-30%, -85%);
        }

        &__headline{
            text-transform: uppercase;
            font-size: clamp(18px, 3vw, 40px);
            margin-bottom: clamp(10px, 2vw, 30px);
        }

        &__profession-tag{
            color: rgba(255, 255, 255, 0.575);
            display: flex;
            font-size: clamp(10px, 1vw, 16px);

            & i {
                font-size: 5px;
                padding: 10px;
            }
        }

        &__text{
            font-size: clamp(14px, 2vw, 20px);
            margin-bottom: 30px;
        }

        &__cta{
            display: flex;
            flex-direction: row;  
            justify-content: space-between;
            margin-bottom: clamp(15px 3vh, 30px);

            & button:first-child,
            & a:first-child{
                width: 64%;
            }

            & button:last-child,
            & a:last-child{
                width: 95%;
            }
        
            & a:last-child{
                text-align: right;
            }
        }
    }
}