.link{
    text-decoration: underline;

    &--cta{
        color: $color-white;
        font-size: 1.8rem;
        margin-left: 3rem;
        text-transform: uppercase;

        &:hover{
            text-decoration: none;
        }
    }

    &--primary{
        color: colors(primary);

        &:hover{
            color: colors(primary);
        }
    }

    &--secondary{
        color: colors(secondary);
        
        &:hover{
            color: colors(secondary);
        }
    }

    &--tertiary{
        color: colors(tertiary);
        
        &:hover{
            color: colors(tertiary);
        }
    }
}