.project{
    &__column{
        @media (min-width: 992px) {
            padding-left: 60px;
        }
    }

    & section:first-child{
        margin-bottom: 200px;
    }

    &__component{
        margin: 100px 0;

        @media (max-width: 576px) {
            margin: 60px 0;   
        }

        &:first-child{
            margin-top: 0;
        }
    }

    &__headline{
        font-size: clamp(30px, 15vw, 160px);
        text-align: left;
        font-weight: 700;

        @media (max-width: 576px) {
            padding: 0 12px;
        }
    }

    &__title{
        font-size: clamp(25px, 8vw, 60px);
        font-weight: 600;
    }

    &__moodboard{

        &__image{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-container{
                width: 30%;
                padding-top: 30%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }

    &__color-palette{

        &__boxes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;

            &:last-child{
                margin-bottom: 0;
            }

            & div{
                width: 30%;
                padding-top: 30%;
                position: relative;

                & p{
                    position: absolute;
                    bottom: 0;
                    background: rgba(255, 255, 255, 0.7);
                    width: 100%;
                    left: 0;
                    padding: 5px;
                    text-align: center;
                    font-size: clamp(10px, 2vw, 16px);
                }
            }
        }

        &__text{
            margin: 0;
        }
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        & a, & a button{
            width: 95%;
        }

        & a:last-child{
            text-align: right;
        }

    }

    &__thumbnail{
        position: relative;
        margin-bottom: 50px;

        & img{
            width: 100%;
            box-shadow: 
                0 5px 10px 0 rgba(0,0,0,0.06),
                0 5px 10px 0 rgba(0,0,0,0.06);
        }
    }

    &__images{
        position: relative;

        & img{
            box-shadow: 
                0 5px 10px 0 rgba(0,0,0,0.06),
                0 5px 10px 0 rgba(0,0,0,0.06);
        }

        &--desktop{
            width: 100%;
        }

        &--mobile{
            width: 40%;
            position: absolute;
            top: 20px;
            right: -100px;

            @media (max-width: 991px) {
                right: 0;
            }   
        }
    }
}