/*
    Code inspired from Andy Leverenze (Web-Crunch):
    YouTube Channel: "https://www.youtube.com/channel/UCzePijHDYnVHIXW6HYTL4dg"
    YouTube Video: "https://www.youtube.com/watch?v=-xU95CUTvHg&ab_channel=Web-Crunch"
    Code Pen: "https://codepen.io/webcrunchblog/pen/vVvPZM"
*/

.skeleton {
    border-radius: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    background: #FFF;
    margin: 5rem 0;
    width: clamp(20rem, 10vw, 38rem);
    width: 38rem;
    box-shadow: 
        0 1.5rem 3rem 0 rgba(0,0,0,0.02),
        0 .5rem 1.5rem 0 rgba(0,0,0,.02);
    transition: ease box-shadow 0.3s;

        &:hover {
            box-shadow: 
                0 1.5rem 6rem 0 rgba(0,0,0,0.05),
                0 .5rem 2.5rem 0 rgba(0,0,0,.05);
            cursor: pointer;
        }

    &__content {
        padding: 1.5rem;
    }

    &__thumbnail {
        margin: 0;
        padding: 0;
        height: 20rem;
        overflow: hidden;

      &.thumbnail {
            max-width: 100%;
            height: auto;
        }
    }

    &__headline.skeleton__loading {
        height: 4rem;
        margin-bottom: 1.5rem;
        width: 80%;
    }

    &__description.skeleton__loading {
        height: 10rem;
        margin-bottom: 1.5rem;
    }

    &__buttons{
        display: flex;
        flex-direction: row;

        & div{
            height: 3rem;
            width: 100%;

            &:first-child{
                margin-right: 1.5rem;
            }
        }
    }

    &__loading {
        position: relative;
        background-color: colors(grey, light);
      
        &::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            transform: translateX(-100%);
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .25), transparent);
            animation: skeleton__loading 1.5s infinite;
        }
    }
}

@keyframes skeleton__loading {
    100% {
        transform: translateX(100%);
    }
}