body{
    font-display: auto;
    font-family: $font-body;
    font-size: $default-fontsize;
    line-height: 1.7;
    color: $color-black;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-heading;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-fontsize;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.font-style--elegant{
    font-family: $font-elegant;
    font-size: clamp(22px, 5vw, 40px);
    font-weight: 500;
    color: colors(secondary);
}

.font-style--userfriendly{
    font-family: $font-heading;
    font-size: clamp(16px, 2vw, 25px);
    font-weight: 600;
    color: colors(secondary);
}