body{
    font-family: $font-body;
    font-size: $default-fontsize;
    line-height: 1.7;
    color: $color-black;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-heading;
    text-transform: uppercase;
}



// Colors
.color--primary{
    color: colors(primary);
}

.color--secondary{
    color: colors(secondary);
}

.color--tertiary{
    color: colors(tertiary);
}

// Alignment: 
.text-align--center{
    text-align: center;
}

// Font Sizes: 


.paragraph{
    margin-bottom: 30px;
}


// Style
.font-style--elegant{
    font-family: $font-elegant;
    font-size: clamp(22px, 5vw, 40px);
    font-weight: 500;
    color: colors(secondary);
}

.font-style--userfriendly{
    font-family: $font-heading;
    font-style: normal;
    font-weight: 600;
    color: colors(secondary);
}