.u-color-primary{ // Unused
    color: colors(primary);
}

.u-color-secondary{ // Unused
    color: colors(secondary);
}

.u-color-tertiary{ // Unused
    color: colors(tertiary);
}

.u-text-align-center{ // Unused
    text-align: center;
}