.profile-img{
    height: clamp(40rem, 10vw, 70rem);
    width: 100%;
    background-image: url("../graphics/about.jpg");
    @include background-image-properties;
    background-position: 70% 0;
}

.about{

    &__container{
        padding-top: clamp(5rem, 5vh, 15rem);

        @media (min-width: 140rem){
            margin-top: 5rem;
        }
    }

    &__headline{
        font-weight: 700;
        font-size: clamp(3rem, 5vw, 5rem);
    }

    &__interests{
        @include space-between;

        &__tag{
            background: colors(secondary);
            color: colors(tertiary);
            padding: .5rem 1rem;
            margin-right: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            font-size: clamp(.8rem, 2vw, 1.4rem);
        }
    }

    &__desc{
        padding: 2.5rem;
        //margin-top: 5rem;

        @media (max-width: 57.6rem) {
            padding: 0;
        }

        & p{
            padding: 1rem 0;
        }
    }

    &__profile{
        padding: 2.5rem;

        @media (max-width: 57.6rem) {
            padding: 0;
        }
    }

    &__buttons{
        margin: 1.5rem 0;
        padding: 0;
        @include space-between;

        & a:visited,
        & a:link {
            width: calc((100% - 2 * 2rem) / 3);
            padding: 1rem 0.5rem;
            
        }
    }

    &__skills{
        background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);

        &__container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5rem rem;

            & i{
                font-size: clamp(2.3rem, 3vw, 5rem);
                color: rgba($color-white, 0.7);

            }

            @media (max-width: 99.1rem) {
                padding: 2rem 1.2rem;
            }
        }
    }
}