.profile-img{
    height: clamp(40rem, 10vw, 70rem);
    width: 100%;
    background-image: url("../graphics/about.jpg");
    @include background-image-properties;
    background-position: 70% 0;
}

.about{
    margin-top: clamp(5rem, 5vh, 15rem);
    
    @include respond(desk) {
        margin-top: 5rem;
    }

    

    &__headline{
        font-weight: 700;
        font-size: clamp(3rem, 5vw, 5rem);
    }

    &__interests{
        @include row;

        &__tag{
            background: colors(secondary);
            color: colors(tertiary);

            padding: 5px 10px;
            margin-right: 10px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: clamp(8px, 2vw, 14px);

            padding: .5rem 1rem;
            font-weight: 600;
            text-transform: uppercase;

            padding: .5rem 1rem;
            
            font-weight: 600;
            text-transform: uppercase;
            font-size: clamp(.75rem, 2vw, 1.4rem);

            &:not(:last-child) {
                margin-right: clamp(.5rem, 1.5vw, 1rem);
            }


            @include respond(tab-land) { 
                font-size: 1.2rem;
            }

            @include respond(lap) {
                font-size: 1.4rem;
            }

        }
    }

    &__desc{
        padding: 0;


        @media (max-width: 576px) {
            padding: 0;
        }

        @include respond(tab-port) {
            padding-right: 5rem;
        }

        @include respond(tab-port) {
            padding: 2.5rem;

        }

        & p{
            padding: 1rem 0;
        }
    }

    &__profile{

        padding: 25px;
        padding: 0;

        @include respond(tab-port) {
            padding: 2.5rem;
        }

        padding: 0;
    }

    &__buttons{
        margin: 1.5rem 0;
        padding: 0;
        @include space-between;

        & a,
        & a:visited,
        & a:link {
            width: calc((100% - 2 * clamp(1rem, 2vw, 2rem)) / 3);
            padding: 1rem 0.5rem;
            
        }
    }

    &__skills{
        background: linear-gradient(90deg, $color-primary-light, $color-primary-dark);

        &__container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2rem 1.2rem;

            & i{
                font-size: clamp(2.3rem, 3vw, 5rem);
                color: rgba($color-white, 0.7);

            }

            @include respond(tab-land) {
                padding: 5rem 0;
            }
        }
    }
}