.project__headline {
    font-size: 4.8rem;
    padding: 0;
    line-height: 1.2;

    @include respond(tab-port) {
        font-size: 8rem;
    }

    @include respond(tab-land) {
        font-size: 10rem;
    }

    @include respond(desk) {
        font-size: 12rem;
    }
}

.project-section {
    display: block;
    min-height: 100vh;
    width: 100vw;
    padding: 10rem 0;

    @include respond(tab-land) {
        padding: 15rem 0;
    }
    

    &--brief {
        background-color: $color-white;
        padding: 0 0 15rem 0;

        @include respond(desk-lg) {
            min-height: 70vh;
        }
        
    }

    &--graphics {
        background-color: $color-white;
    }
 
    &--development {
        background-color: colors(tertiary);
        color: $color-white;
    }

    &--typography {
        background-color: colors(tertiary);
        color: $color-white;
    }

    &--logo {
        background-color: $color-white;
    }

    &__headline {
        font-size: clamp(3rem, 5vw ,6rem);
        font-weight: 800;
        letter-spacing: 1px;
        color: colors(primary);

        @include respond(tab-port) {
            letter-spacing: 4px;
        }
    }

    &__title {
        font-size: 4rem;
    }
}

